<p>
  <strong>Title:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @newsletter.message %>
</p>

<p>
  <strong>Schedules:</strong>
  <%= @newsletter.schedules %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @newsletter.photos %>
</p>
